body {
    background-color: #d9d5ce;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #d9d5ce;
    margin: 0%;
    background-image:url('./src/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: hidden;
}

.navigator ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2c271f;
}

.navigator li {
    float: left;
}

.navigator a, .navigator .dropbtn
{
    display: inline-block;
    color: #d9d5ce;
    text-align: center;
    padding: 35px 25px;
    text-decoration: none;
}

.navigator a:hover, .navigator .dropdown:hover {
    background-color: #110f0b;
}

.navigator li.dropdown {
    display: inline-block;
}

.navigator .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2c271f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navigator .dropdown-content a {
    color: 110f0b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navigator .dropdown-content a:hover {
    background-color: #110f0b;
}

.navigator .dropdown:hover .dropdown-content {
  display: block;
}

.button {
    background-color: #2c271f;
    border: none;
    color: #d9d5ce;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4%;
    -webkit-appearance: none !important;

}

.grid1parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.grid1child1 { grid-area: 1 / 5 / NaN / NaN; }
.grid1child2 { grid-area: 1 / 2 / 2 / 3; }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    color: #d9d5ce;
    border-radius: 4px;
    background:rgba(200,200,200,0.4);
    border:rgba(200,200,200,0.4);
  }

.button2 {
    background-color: rgba(24, 16, 4, 0.8);
    color: #d9d5ce;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 16px;
    -webkit-appearance: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
